head
  title dude
  link(rel="stylesheet", href="uikit/css/uikit.min.css", type="text/css")
  link(rel="stylesheet", href="css/general.css", type="text/css")
  script(src="uikit/js/uikit.min.js")
  script(src="uikit/js/uikit-icons.min.js")
  script(src="js/general.js")
  include navbar.pug
