mixin navbar(home)
  nav.uk-navbar-container(uk-navbar='')
    .uk-navbar-left
      a.uk-navbar-item.uk-logo(href='#') dude
      ul.uk-navbar-nav
        li(class= home ? 'uk-active' : '')
          a(href='/') Home
